html, body
			{
				height: 100%;
			}
			div
			{
				border: black solid 1px;
				margin: 10px;
				width: 30%;
				height: 30%;
				display: inline-flex;
				flex-wrap: wrap;
				justify-content: center;
			}
			p
			{
				text-align: center;
				font-size: 72pt;
                margin: auto;
			}